.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cccccc;
    padding: 15px;
    margin-top: 15px;

    &__format {
        stroke: $black;
        outline: none;

        &:hover {
            color: #0055fb;
            stroke: #0055fb
        }

        &:active {
            box-shadow: 0 0 0 2px #9ecefb;
            border-radius: 7px;
        }
    }
    &__format-icon {
        margin-right: 10px;
    }
}